.col-sub-num {
    width: 15%;
}

.col-sub-title {
    width: 60%;
}

.select-submission {
    height: 3rem;
}

.select-submission a {
    
    background: transparent;

    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.select-submission:hover{
    background: #ddd;
}

.select-submission a:hover {
    text-decoration: underline;
}