.add-prof-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    width: calc(100% - 20vw);
}

.add-prof-inputs input[type=search] {
    padding: .5rem;

    outline: none;
    border: 1px solid #bbb;
    border-radius: 5px;

    font-size: 1rem;
}

.add-prof-inputs input[type=submit] {
    outline: none;
    border: none;
    border-radius: 5px;

    background: #bbb;
    color: #000;

    padding: 0.55rem 1rem;

    font-size: 1rem;

    cursor: pointer;

    transition: .2s;
}

.add-prof-inputs input[type=submit]:hover {
    background: blue;
    color: #fff;
}

.search-results-form-box {
    background: #eee;
    width: 100%;
    padding-bottom: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: left;
}

.search-results-form-box p {
    background: transparent;
}

.search-results-form-box div {
    display: flex;
    gap: 0.875rem;
    width: 100%;
    border-bottom: 1px solid transparent;
    padding: 1.25rem 4rem;
}

.search-results-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-results-info label {
    background: transparent;
}

.search-results-info:nth-child(odd) {
    background: #ddd;
}

.search-results-info:nth-child(even) {
    background: #fff;
}



.search-results-info input[type="checkbox"] {
    accent-color:  #C70039;
}

.search-results-box span:hover {
    background: #ccc;
}

.search-results-box span:active {
    background: green;
}

.search-results-box p {
    font-size: 1.05rem;
    background: transparent;
}

.btn-search-prof-by-mat {
    width: 14rem;
    margin: 1rem auto 0;
}

.btn-search-prof-by-mat:hover {
    background: #165aaa;
}