.cabecalho-edital {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    margin: 1.25rem auto 0;
    
    height: 150px;
    width: 90%;

    background-color: #fff;
}

.cabecalho-edital strong {
    color: #aaa;
}

.cabecalho-edital h1 {
    color: blue;
}

.info-edital p {
    font-weight: 400;
    font-size: 1.2rem;
    color: #333;
}

.info-edital p b {
    color: #000;
}

.info-edital {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    margin: 2rem 4rem 4rem 20vw;
}

.prof-avaliadores-wrapper {
    margin-top: 3rem;

}

.prof-avaliadores-wrapper h2 {
    font-size: 1.5rem;
    color: blue;
    margin-bottom: .75rem;
}

.list-prof-avaliador {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.wrapper-show-matricula-prof-avaliador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;

    border-radius: 8px;

    width: 20%;
    background: #ddd;
}

.wrapper-show-matricula-prof-avaliador p {
    display: inline;
    font-size: 1rem;
    background: transparent;
}

.wrapper-show-matricula-prof-avaliador span {
    background: transparent;
    font-size: 1rem;
    padding: 4px 6px;
    border-radius: 8px;
    background: #bbb;
    transition: .2s;
}

.wrapper-show-matricula-prof-avaliador span:hover {
    background: #888;
    cursor: pointer;
    color: #fff;
}

.wrapper-show-matricula-prof-avaliador span:active {
    background: red;
}

