summary {
    all: unset;
    width: 100%;
    padding: 2rem;
    
    font-size: 1.25rem;
    font-weight: 700;

    cursor: pointer;

    transition: .2s;
}

summary:hover {
    background: #bbb;
}

details {
    background-color: #aaa;
    border-bottom: 1px solid #ccc;
}

details ol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

details ol li {
    width: 100%;
    padding: 1.25rem 4rem;
    list-style: none;
    
}

details ol li:nth-child(odd) {
    background-color: #ddd;

}

details ol li:nth-child(even) {
    background-color: #fff;

}

.confirmation-modal p {
    background: transparent;
}