* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.PaginaInicio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DAE7EF;
}

.BackgroundPaginaInicio {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    background-color: #DAE7EF;
}

.div-table-header {
    width: 90vw;
  margin-bottom: 5px;
  border-radius: 10px; /* Bordas arredondadas */
  border: 2px solid #d4d4d4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden; /* Garante que o conteúdo respeite o border-radius */
}

.header-apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid red;
}

.apresentacao-filtros {
    margin: 0;
}

.visao-opcoes, 
.filtro-pesquisa-edital-input, 
.filtro-pesquisa-curso-select, 
.filtro-selecao-status-select {
    min-height: 4vh;
    border-radius: 10px;
    font-weight: 400;
    padding: 10px;
    border: 2px solid #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    outline: none;
    flex: 1;
}

.header-filtros-edital {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.container-grid {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
