
.BackgroundPaginaInicio {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DAE7EF;
}

button {
    width: 10%;
    height: 50px;
    background-color: #044CF4;
    color: white;
    border: none;
    outline: none;
    border: 2px solid #D4D4D4;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.container {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background: white;
    border-color: #044CF4;
    border: 2px solid #D4D4D4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 30px;
    margin-top: 10px;
    margin-bottom: 10px ;
}
.titulo-crud{
    background-color: #044CF4;
    color: white;
    padding: 20px;
}
.header span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
}

#new {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(57, 57, 226);
}

.divTable {
    padding: 10px;
    width: auto; 
    height:inherit; 
    overflow:auto;
}

.divTable::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
}

table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
}

thead {
    background-color: whitesmoke;
}

tr {
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(238, 235, 235)!important;
}
tbody tr td {
    padding: 8px 20px;
    max-width: 50px;
    font-size: 16px;
}

thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
}
 .num-edital{
    font-weight: bold;
    cursor: pointer;
    text-align: left;
}

.num-edital:hover {
    text-decoration: underline;
    background: #ddd;

    transition: .2s;
}

.acaoEdital {
    font-weight: bold; /* Deixa o texto em negrito */
    text-decoration: none;
    color: blue; /* Define a cor do texto como azul */
}

.centralizar-elemento {
    text-align: center;
}

tbody tr {
    margin-bottom: 50px;
}

thead tr th.acao {
    width: 100px!important;
    text-align: center;
}

tbody tr td.acao {
    text-align: center;
}

.editar {
    height: 2.25rem;
    width: 2.25rem;
    margin-left: 0.25rem;
    padding: 6px;
    border-radius: 8px;

    cursor: pointer;
}

.editar:hover {
    background: #ddd;
    transition: .2s;
}

.visualizar{
    height: 2.25rem;
    width: 2.25rem;
    margin-right: 0.25rem;
    padding: 6px;
    border-radius: 8px;

    cursor: pointer;
}

.visualizar:hover {
    background: #ddd;
    transition: .2s;
}


.loading-cell {
    text-align: center;
}

.loading-container {
    display: inline-block;
    margin-top: 20px; /* Ajuste conforme necessário */
}
@media (max-width: 700px) {
    body {
        font-size: 10px;
    }
    
    .header span {
        font-size: 15px;
    }
  
    #new {
        padding: 5px;
        font-size: 10px;
    }
  
    thead tr th.acao {
        width: auto!important;
    }
    
    td button i {
        font-size: 20px!important;
    }
  
    td button i:first-child {
        margin-right: 0;
    }
  
    .modal {
        width: 90%!important;
    }
  
    .modal label {
        font-size: 12px!important;
    }
}



