.section-modal-card-edital{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    align-items: flex-start;
    z-index: 1000;
}
.box-modal-card-edital{
    width: 40%;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-header-modal-edital{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    margin-bottom: 10px;
}
.button-fechar-modal-edital{
    background-color: #044CF4;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.box-botoes-modal{
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.input-modal {
    min-height: 4vh;
    width: 100%;
    border-radius: 5px;
    font-weight: 400;
    padding-left: .4vw;
    padding-bottom: .2vw; 
    outline: none;
    border: 2px solid #D4D4D4;
    border-radius: 40px;
    padding: 10px 40px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px; 
}
.instrucao{
    margin-left: 10px;
    padding-bottom: 10px;
}

.botao-avaliar-contrato{
    width: 100%;
    border-radius: 10px;
    padding: 1vh;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    background-color: rgb(20, 172, 53);
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
